In [5]:
import pandas as pd

In [6]:
url = 'https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics'
tables = pd.read_html(url)

In [7]:
type(tables)

list

In [8]:
len(tables)

1

In [9]:
tables

[       Year Source        Revenue       Expenses    Asset rise   Total assets
 0   2021/22    PDF  $ 154,686,521  $ 145,970,915   $ 8,173,996  $ 239,351,532
 1   2020/21    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
 2   2019/20    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
 3   2018/19    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
 4   2017/18    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570
 5   2016/17    PDF   $ 91,242,418   $ 69,136,758  $ 21,547,402  $ 113,330,197
 6   2015/16    PDF   $ 81,862,724   $ 65,947,465  $ 13,962,497   $ 91,782,795
 7   2014/15    PDF   $ 75,797,223   $ 52,596,782  $ 24,345,277   $ 77,820,298
 8   2013/14    PDF   $ 52,465,287   $ 45,900,745   $ 8,285,897   $ 53,475,021
 9   2012/13    PDF   $ 48,635,408   $ 35,704,796  $ 10,260,066   $ 45,189,124
 10  2011/12    PDF   $ 38,479,665   $ 29,260,652  $ 10,736,914   $ 34,929,058
 11  2010/11    PDF   $ 24,785,092   $ 17,889,794   $ 9,649,413   $ 24,192,144
 12  2009/10    PDF   $ 17,979,312   $ 10,266,793   $ 6,310,964   $ 14,542,731
 13  2008/09    PDF    $ 8,658,006    $ 5,617,236   $ 3,053,599    $ 8,231,767
 14  2007/08    PDF    $ 5,032,981    $ 3,540,724   $ 3,519,886    $ 5,178,168
 15  2006/07    PDF    $ 2,734,909    $ 2,077,843     $ 654,066    $ 1,658,282
 16  2005/06    PDF    $ 1,508,039      $ 791,907     $ 736,132    $ 1,004,216
 17  2004/05    PDF      $ 379,088      $ 177,670     $ 211,418      $ 268,084
 18  2003/04    PDF       $ 80,129       $ 23,463      $ 56,666       $ 56,666]

In [10]:
tables[0].head()

      Year Source        Revenue       Expenses    Asset rise   Total assets
0  2021/22    PDF  $ 154,686,521  $ 145,970,915   $ 8,173,996  $ 239,351,532
1  2020/21    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
2  2019/20    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
3  2018/19    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
4  2017/18    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570

In [11]:
tables[0].tail()

       Year Source      Revenue     Expenses   Asset rise Total assets
14  2007/08    PDF  $ 5,032,981  $ 3,540,724  $ 3,519,886  $ 5,178,168
15  2006/07    PDF  $ 2,734,909  $ 2,077,843    $ 654,066  $ 1,658,282
16  2005/06    PDF  $ 1,508,039    $ 791,907    $ 736,132  $ 1,004,216
17  2004/05    PDF    $ 379,088    $ 177,670    $ 211,418    $ 268,084
18  2003/04    PDF     $ 80,129     $ 23,463     $ 56,666     $ 56,666

In [12]:
fundraising = tables[0]

In [13]:
type(fundraising)

pandas.core.frame.DataFrame

In [14]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
dtype: object

In [17]:
fundraising['Rev']=fundraising['Revenue'].str[2:]

In [18]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532","154,686,521"
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536","162,886,686"
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725","129,234,327"
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425","120,067,266"
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570","104,505,783"

In [24]:
fundraising['Rev'] = fundraising['Rev'].str.replace(',','')

In [25]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev,Rav
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532",154686521,154686521
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",162886686,162886686
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",129234327,129234327
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",120067266,120067266
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,104505783

In [26]:
fundraising['Rev'] = pd.to_numeric(fundraising['Rev'])

In [27]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev,Rav
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532",154686521,154686521
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",162886686,162886686
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",129234327,129234327
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",120067266,120067266
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,104505783

In [30]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
Rev              int64
Rav             object
dtype: object

In [33]:
fundraising['Exp'] = fundraising['Expenses'].str[2:]
fundraising['Exp'] = fundraising['Exp'].str.replace(',','')

In [34]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev,Rav,Exp
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532",154686521,154686521,145970915
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",162886686,162886686,111839819
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",129234327,129234327,112489397
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",120067266,120067266,91414010
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,104505783,81442265

In [35]:
fundraising['Exp'] = pd.to_numeric(fundraising['Exp'],errors='coerce')

In [36]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev,Rav,Exp
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532",154686521,154686521,145970915
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",162886686,162886686,111839819
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",129234327,129234327,112489397
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",120067266,120067266,91414010
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,104505783,81442265

In [38]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
Rev              int64
Rav             object
Exp              int64
dtype: object